[Unit]
Description=Thermostat get data script

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/software/thermostat
ExecStart=/home/pi/software/thermostat/get_data.py
Restart=on-failure

[Install]
RequiredBy=thermostat_gui.service
